.border-1px-b(@color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid @color;
    content: '';
  }
}

@text-color: #9098a8;
@text-color-dark: #5d6574;
@text-color-darker: #2b313c;
@border-1px-color: rgba(216, 219, 224, .7);
@text-color-green: #07d79c;
@text-color-yellow: #ff9041;
@theme-blue: #2c7dfa;
@warning-red: #ff4b40;
